body {
    background-color: yellow;
    
}

h1 {
    color: orange;
}

p {
    color:orange;
    font-size: 25px;
}

img {
    width: 300px;
    height: 300px;
    border: 2px solid black;
}
#ingredients {
    color: blue;
}

#method {
    color:brown;
}

ul {
    color:aqua
}

#procedure {
    color: palevioletred;
}